*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #000000;
    font-family: "Poppins" , sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.heading{
    width: 100vw;
    height: 5.5rem;
    background-color:	#C0C0C0;
    color: #000000;
    box-shadow: 0px 10px 16px rgb(55, 50, 50);
}
.heading h1{
    line-height: 5.8rem;
    margin-left: 2rem;
    font-weight: 400;
}

.add:active{
    transform: scale(0.98);
}

.btn-div{
    position: absolute;
    top: 7rem;
    right: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more{
    width: 12rem;
    height: auto;
}
button.learn-more .circle{
    transition: all 0.45s cubic-bezier(0.65,0,0.076,1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background-color:#d4ba0d;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon{
    transition: all 0.45s cubic-bezier(0.65,0,0.076,1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background:#fff;
}
botton.learn-more .circle .icon.arrow{
    transition: all 0.45s cubic-bezier(0.65,0,0.076,1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before{
    position: absolute;
    content: "";
    top: 1.1rem;
    right: -.225rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid rgb(2, 0, 0);
    border-right: 0.125rem solid rgb(7, 1, 1);
    transform: rotate(45deg);
}
button.learn-more .button-text{
    transition: all 0.45s cubic-bezier(0.65,0,0.076,1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #f4f4f9;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .circle{
    width: 100%;
}
button:hover .circle .icon.arrow{
    background: rgb(0, 0, 0);
    content: "";
    left: 2rem;
    transform:translate(1rem,0);
}

button:hover .button-text{
    color: rgb(0, 0, 0);
}


.note{
    background-color: rgb(247, 247, 247);
    margin: 30px 20px;
    height: 200px;
    width: 400px;
    overflow-y: scroll;
    margin-top: 7rem;
    margin-left: 3rem;
    box-shadow: inset 1px 1px 0 rgba(255, 254, 254, 0.064), inset 0 -1px 0 rgba(254, 253, 253, 0.053);
}




.note .operation{
    display  : flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .operation button{
    background-color: transparent;
    border: none;
    color: rgb(250, 249, 249);
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 300px;
    width: 99.8%;
    padding: 20px;
    margin: 0.5px;
}

footer {
    position: fixed;
    bottom:0; 
    
}
.copyright{
    color: white;
}

.fa-edit, .fa-trash-alt{
    color: white;
    padding: 10px;
    background-color: #2ecc71;
    border-radius: 50%;
}

.fa-trash-alt{
    background-color: #e42e1a;
}
.fa-edit:hover{
    background-color: #fff;
    color: #13d564;
    filter: drop-shadow(0px 10px 8px rgb(219,218,218));
}
.fa-trash-alt:hover{
    background-color: #fff;
    color: #e83623;
    filter: drop-shadow(0px 10px 8px rgb(219,218,218));
}
.main{
    padding: 20px;
}
.hidden{
    display: none;
}

.copyright_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    line-height: 3;
    text-align: center;
    left: 0;
}